
{% extends "index.html" %} {% block title %} Add a Post {% endblock %}
<!-- <br> -->

{% block content1 %}
<h2> {% block welcome_words %} Let's add a post !! {% endblock %} </h2>
<p>Please enter data bellow:</p>
<form id="post_form"  action=""  {% block form_method %}   method="POST" {% endblock %} >
    <div >
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" 
        {% if post %}
          value="{{post.title}}" 
        {% endif %}
      required /> 
    </div>

    <div >
      <label for="category">Category: </label>
      <input type="text" name="category" id="category"      
        {% if post %}
          value="{{post.category}}" 
        {% endif %}   
      required />
    </div>
    <br>
    <div >
        <label for="content">Content: </label>
        <textarea rows="5" cols="20" type="text" name="content" id="content"
      required>{% if post %}{{post.content}}{% endif %}</textarea> 
    </div>
    <br>
    <div >
      <input type="submit" value="Submit!" />
    </div>
  </form>

<br><br>
    <!-- <a href="{{ url_for('homepage' )}}">Back to Home</a> -->


  {% block script %} {% endblock %}
  {% endblock %}


