
{% from 'macro_date.html' import date_display_in_format %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Homepage {% endblock %}</title>
</head>
<header>
    {% include 'navbar.html'  %}

</header>
<body>
<br>

  {% if errorMsg %} 
   {{ errorMsg }}
  {% else %}
  {% endif %}

  {% block content1 %}
    
  {% if posts %}
  <br />
  {% for post in posts %}
  <div>
    <h1>post: {{ post.title }}</h1>
    <p>postID: {{post.pid}}</p>
    <h3>category: {{ post.category }} </h3>
    {% if post.content | length > 4 %}
      <p>content: {{ post.content[:4]+"..." }}</p>
    {% else %}
      <p>short excerpt: {{ post.content }}</p>
    {% endif %}
    <!-- <p>published date: {{ post.date_published }}</p> -->
    {{ date_display_in_format(post.date_published) }}
    <br>

    <a href="{{ url_for('get_one_posts', pid = post.pid )}}">View More</a> or 
    <a href="{{ url_for('update_post', pid = post.pid )}}">Edit Post</a> 
    <br>

  </div>
  <br>
    <hr>
  {% endfor %} {% endif %}


  <br>
  {% endblock %}
</body>
</html>

